{% extends "base.html" %}
<!-- Подключаем библиотеку django_bootstrap5. -->
{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4">    <!-- Bootstrap card / классом col-4 - ограничение колонок -->
    <div class="card-header">
      Калькулятор ожидания дня рождения
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}      <!-- Без тегa csrf_token POST-запрос будет отклонён. -->
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
  </div>
  {% with data=form.instance %}         <!-- Присваиваем переменной data объект request.GET / ЗАМЕНА: request.GET-> request.POST-> form.instance -->
    {% if form.is_valid %}           <!-- В дальнейшем используем имя data вместо request.GET -->  <!-- ИЗМЕНИЛИ data на ВАЛИД, чтобы приветствие появлялось только при полностью валидных данных.-->  
      ID новой записи в БД: {{ data.id }} <!-- Получить id объекта -->
    <hr>
    <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
      {% if birthday_countdown == 0 %}      <!-- СЧЁТЧИК ДО ДР Если до дня рождения 0 дней... -->
        <p>С днём рождения!</p>        <!-- ...выводим поздравление: -->
      {% else %}
    
        <p>Осталось дней до дня рождения: {{ birthday_countdown }}!</p>         <!-- ...сообщаем, сколько осталось ждать: -->
      {% endif %}
    {% endif %}
    <!-- Когда заканчивается область шаблона, где нужна переменная,  закрываем тег with ПЕРЕМЕННАЯ УБРАНА -->
  {% endwith %}
{% endblock %}